:root {
  --color-text: #3f3f46; /* zinc-700 */
  --color-textgray: #71717a; /* zinc-500 */
  --color-black: #000000;
  --color-bg: #ffffff;
  --color-box: #f4f4f5; /* zinc-100 */
  --color-box-hover: #d4d4d8; /* zinc-300 */
  --color-line: #e0e0e3; /* zinc-200 */

  --color-codeinline: #f8f8f2;
  --color-codebox: #1c1917; /* stone-900 */
  --color-scrollbar: #71717a; /* zinc-500 */
  --color-quotebar: #059669; /* emerald-600 */
  --color-link: #059669; /* emerald-600 */
}
