@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto+Mono:wght@300&display=swap");
@import url("./colors.css");
@import url("./toc.css");
@import url("./markdown.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-base !important;
  }

  body {
    @apply text-text bg-bg;
  }
}

@layer components {
  .custom-scroll::-webkit-scrollbar {
    width: 15px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-scrollbar rounded-lg;
  }

  .box {
    @apply overflow-hidden;
  }

  .box a {
    @apply hover-black;
  }

  .box .content-summary {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .preview {
    @apply text-text hover:no-underline !important;
  }

  li.page-item {
    @apply inline;
  }

  div#pagination-box>ul {
    @apply flex justify-center gap-5 items-center;
  }

  div#pagination-box li {
    @apply hover-bold text-xl;
  }

  div#pagination-box li.active {
    @apply font-bold;
  }

  div#pagination-box span {
    @apply text-3xl;
  }

  .switch-button {
    @apply text-center w-16 cursor-pointer p-2 hover-bold;
  }

  input[name="switch"] {
    display: none;
  }

  input[name="switch"]+label {
    @apply bg-box;
  }

  input[name="switch"]:checked+label {
    @apply bg-[#006400] text-codeinline font-bold;
  }

  #page-table th {
    @apply py-4;
  }

  #page-table td {
    @apply py-2 truncate text-center;
  }

  #page-table tr {
    @apply border-b border-text;
  }

  #page-table tbody>tr {
    @apply hover-bold cursor-pointer;
  }
}

@layer utilities {
  .overflow-ellipsis-bundle {
    @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
  }

  .hover-bold {
    @apply hover:font-bold;
  }

  .hover-bigger {
    @apply hover:scale-110 !important;
  }

  .hover-black {
    @apply hover:text-black;
  }
}