<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script type="text/javascript" src="{{ .Site.BaseURL }}src/script.js"></script>
  {{ $style := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/src/style.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.css" rel="stylesheet">

  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>

  {{ if .Site.Params.googleAnalytics }}
  {{ partial "google-analytics.html" . }}{{ end }}
</head>

<body class="dark">
  {{ .Render "topbar" }}

  <main class="flex w-full">
    {{ .Render "sidebar" }}
    <section class="w-full mx-20">
      {{ block "main" . }} {{ end }}
    </section>
  </main>

  {{ block "footer" . }} {{ end }}
</body>

</html>

<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}src/base.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}src/content.css" /> -->
<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}/style.css" /> -->