<header class="flex p-3 block justify-between text-lg z-10 border-b border-line">
    <h3>
        <a href="{{ .Site.BaseURL }}" class="hover-black">
            {{ .Site.Title }}
        </a>
    </h3>
    <div class="flex gap-5">
        <a class="hover-black" href="{{ .Site.BaseURL }}">
            🏠 home
        </a>
        <a class="hover-black" href="https://github.com/bong-u/til">
            🐈 repository
        </a>
            <!-- <label id="toggleButton" class="cursor-pointer hover-bigger" for="toggleDarkMode">
                ☀️
            </label> -->
        <!-- <a id="scrollButton" onclick="scrollToTop()" class="cursor-pointer hover-bigger">
            🔽

        </a> -->
    </div>
</header>

<input type="checkbox" id="toggleDarkMode" onchange="toggleDarkModeHandler()" hidden />