<header class="flex block justify-center p-4 text-3xl z-10">
    <div class="flex gap-3">
        <a class="hover-bigger" href="{{ .Site.BaseURL }}">
            🏠
        </a>
        <a class="hover-bigger" href="https://github.com/bong-u/til">
            🐈
        </a>
        <label id="toggleButton" class="cursor-pointer hover-bigger" for="toggleDarkMode">
            ☀️
        </label>
        <a id="scrollButton" onclick="scrollToTop()" class="cursor-pointer hover-bigger">
            🔽
        </a>
    </div>
</header>

<input type="checkbox" id="toggleDarkMode" onchange="toggleDarkModeHandler()" hidden />