{{ define "main" }}
<main class="flex w-full justify-center">

  <section class="flex flex-col justify-center gap-8 w-11/12 md:w-3/4 lg:w-7/12">
    {{ .Render "header" }}
    <div class="mb-16">
      <h1 class="text-3xl text-center">
        <div class="text-5xl mb-3">{{ .Page.Params.emoji }}</div>
        <div>{{ .Page.Title }}</div>
      </h1>

      <div class="flex flex-col gap-3 mt-4 mb-16">
        <table id="page-table" class="table-fixed w-full">
          <thead>
            <tr>
              <th class="w-8">No</th>
              <th>Title</th>
              <th class="w-24">Date</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {{ range $index, $page := .Paginator.Pages }}
            <tr onclick="location.href='{{.RelPermalink}}'">
              <td>
                {{ math.Add $index 1 }}
              <td>
                {{ .Title }}
              </td>
              <td>
                {{.Date.Format "2006-01-02"}}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>

      <div id="pagination-box">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </section>
</main>

{{ end }}