{{ define "main" }}
<main class="flex w-full justify-center">
	<section class="flex flex-col justify-center gap-8 w-11/12 md:w-6/12 lg:w-4/12  ">

    <div class="flex flex-col justify-center">
      <h1 class="text-3xl text-center mb-7">
        <span class="text-4xl mr-3">{{ index (split .Page.Title "|") 0 }}</span>
        <span> {{ index (split .Page.Title "|") 1 }}</span>
      </h1>
      
      {{ range .Data.Pages.ByLastmod.Reverse }}
        <a class="m-0 my-3 hover-bold" href="{{.RelPermalink}}">
          <div class="flex justify-between">

            <span class="overflow-ellipsis-bundle">{{ .Title }}</span>
            <span class="whitespace-nowrap">{{.Date.Format "2006-01-02"}}</span>
          </div>
        </a>
      {{ end }}
    </div>
  </section>
</main>

{{ end }}