{{ define "main" }}
<div class="w-96">
  <article>
    <header>
      <img class="w-8 h-8 mr-3 inline" src="{{ .Site.BaseURL }}icon/{{ .Section }}.png" alt="{{ .Section }}" />
      <h1 class="inline">{{ .Section }}</h1>
    </header>
    <!-- {{ .Content }} -->
  </article>
  <ul>
    {{ range .Data.Pages.ByLastmod.Reverse }}
    <li class="m-0 my-3 whitespace-nowrap overflow-ellipsis overflow-hidden">
      <a class="" href="{{.RelPermalink}}">
        {{.Title }}
        <!-- <span>{{.Date.Format "2006-01-02"}}</span> -->
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}