<nav class="sticky hidden absolute top-0  h-screen w-1 top-0 py-16 px-7 sidebar-gradient">
    <div id="sidebar" class="flex flex-col px-2 overflow-y-scroll overflow-x-hidden h-full">
        {{ range .Site.Sections }}
        {{ $section := . }}
        {{ with .Pages }}
        {{ $indexPage := index . 0 }}
        {{ $section_emoji := $section.Params.emoji }}
        {{ $section_name := $section.Title }}

        <a class="flex py-3 hover-bold hover-bigger" href="{{ $section.RelPermalink }}">
            <span class="text-xl mr-3">{{ $section_emoji }}</span>
            <!-- <span>{{ $section_name }} ({{ len $section.Pages }})</span> -->
        </a>
        {{ end }}
        {{ end }}
    </div>
</nav>