<link href="{{ .Site.BaseURL }}pagefind/pagefind-ui.css" rel="stylesheet">
<script src="{{ .Site.BaseURL }}pagefind/pagefind-ui.js"></script>
<style>
    div.pagefind-ui__result-thumb {
        display: none;
    }
</style>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showSubResults: true,
            pageSize: 10,
            autofocus: true,
            translations: {
                "placeholder": "검색",
                "clear_search": "검색 초기화",
                "load_more": "결과 더보기",
                "search_label": "사이트 검색",
                "filters_label": "필터",
                "zero_results": "\"[SEARCH_TERM]\"에 대한 결과가 없습니다.",
                "many_results": "\"[SEARCH_TERM]\"에 대한 [COUNT]개의 결과",
                "one_result": "\"[SEARCH_TERM]\"에 대한 [COUNT]개의 결과",
                "alt_search": "\"[SEARCH_TERM]\"에 대한 결과가 없습니다. 대신 [DIFFERENT_TERM]에 대한 결과를 표시합니다.",
                "search_suggestion": "\"[SEARCH_TERM]\"에 대한 결과가 없습니다. 다음 검색어를 시도해 보세요:",
                "searching": "\"[SEARCH_TERM]\" 검색 중..."
            },
            processResult: (result) => {
                // 이미지 관련 정보 제거
                if (result.meta && result.meta.image && result.meta.image_alt) {
                    delete result.meta.image;
                    delete result.meta.image_alt;
                }
                return result;
            }
        });
    });
</script>