{{ define "main" }}

<nav class="fixed hidden lg:flex flex-col h-full left-0 top-0 justify-center gap-3 p-7">
	{{ .Render "navigator" }}
</nav>

{{ partial "toc.html" .}}

<aside class="fixed top-0 right-0 py-24 w-2/12 gap-3 mx-9 hidden lg:flex text-sm overflow-hidden">
	{{ .TableOfContents }}
</aside>

<main class="flex w-full justify-center">
	<section class="px-4 w-11/12 lg:w-1/2 xl:w-7/12">
		<!-- title, created date, modified date -->
		<div class="mb-10 whitespace-nowrap">
			<div class="flex justify-between items-baseline my-4 gap-8">
				<h1 id="title" class="overflow-ellipsis-bundle text-3xl font-bold p-1">
					{{ .Title }}
				</h1>
				<div class="flex flex-col items-end">
					<h4 id="date"> CREATED {{ .Date.Format "2006-01-02" }} </h4>
					<h4 id="date"> MODIFIED {{ .Lastmod.Format "2006-01-02" }}</h4>
				</div>
			</div>
		</div>
		<!--  -->

		<!-- content -->
		<article id="content" class="bg-inherit markdown-body flex flex-col">
			{{ .Content }}
		</article>
		<!--  -->

		<!-- tags, previous, next -->
		<div id="meta" class="mt-24">
			<div>
				<div class="flex justify-between w-full whitespace-nowrap">
					{{ with .PrevInSection }}
					<a class="previous mr-5 overflow-hidden overflow-ellipsis hover-bold" href=" {{.RelPermalink}}">
						{{.Title}}</a>
					{{ end }}
					{{ with .NextInSection }}
					<a class="next ml-5 overflow-hidden overflow-ellipsis hover-bold" href="{{.RelPermalink}}">
						{{.Title}}</a>
					{{ end }}
				</div>
			</div>
		</div>
		<!--  -->

	</section>
</main>

{{ end }}