{{ define "main" }}


<script type="text/javascript" src="{{ .Site.BaseURL }}script/single.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}script/toc.js"></script>


{{ .Render "header" }}

<main class="w-full lg:w-5/6 px-3 sm:px-12">
	<aside class="fixed top-0 right-0 my-24 w-1/6 gap-3 px-9 hidden xl:flex text-sm overflow-hidden">
		{{ .TableOfContents }}
	</aside>
	<section class="mt-6 xl:w-5/6">
		<!-- title, created date, modified date -->
		<div class="flex flex-col">
			<h4 id="date">마지막 수정 : {{ .Lastmod.Format "2006-01-02" }}</h4>
		</div>
		<div class="mb-10 whitespace-nowrap">
			<div class="flex justify-between items-baseline my-4 gap-8">
				<h1 id="title" class="overflow-ellipsis-bundle text-3xl font-bold p-1">
					{{ .Title }}
				</h1>
			</div>
		</div>
		<!--  -->

		<!-- content -->
		<article id="content" class="bg-inherit markdown-body flex flex-col">
			{{ .Content }}
		</article>
		<!--  -->

		<!-- previous, next -->
		<div id="meta" class="my-16">
			<div>
				<div class="flex justify-between w-full text-lg">
					{{ with .PrevInSection }}
					<a class="previous mr-5 overflow-ellipsis-bundle hover-bold" href=" {{.RelPermalink}}">
						<span class="mx-3">◀</span>
						{{.Title}}
					</a>
					{{ end }}
					{{ with .NextInSection }}
					<a class="next ml-5 overflow-ellipsis-bundle hover-bold" href="{{.RelPermalink}}">
						{{.Title}}
						<span class="mx-3">▶</span>
					</a>
					{{ end }}
				</div>
			</div>

		</div>
		<!--  -->

		<!-- comment -->
		<div id="comment-box"></div>
		<!--  -->

	</section>
</main>

{{ end }}