{{ $section_emoji := index (split .Parent.Title "|") 0 }}
{{ $section_name := index (split .Parent.Title "|") 1 }}


<div class="box flex flex-col gap-3 rounded-lg w-full">
    <div class="h-0 relative top-[-10px] left-[-10px]">
        <img onload="checkRecentPost(event, '{{ .Lastmod.YearDay }}')" class="h-8 hidden"
            src="{{ .Site.BaseURL }}asset/new.png" alt="new" />
    </div>
    <a href="{{ .RelPermalink }}" class="mx-6 mb-5">
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <span class="text-2xl">{{ $section_emoji }}</span>
                <span>{{ $section_name }}</span>
            </div>
            <div class="post-meta">{{ .Date.Format "2006-01-02" }}</div>
        </div>
        <div class="w-full">
            <h1 class="text-2xl overflow-ellipsis-bundle">
                {{ .Title }}
            </h1>
        </div>
    </a>
</div>