<div class="bg-[var(--summary-color)] p-5 rounded-lg flex flex-col gap-3 w-full">
    <div class="flex justify-between">
        <div class="flex items-center gap-2">
            <span class="text-2xl">{{ index (split .Parent.Title "|") 0 }}</span>
            <span>{{ index (split .Parent.Title "|") 1 }}</span>
        </div>
        <div class="post-meta">{{ .Date.Format "2006-01-02" }}</div>
    </div>
    <div class="w-full">
        <a href="{{ .RelPermalink }}" class="block">
            <h1 class="text-2xl font-bold overflow-ellipsis-bundle">
                <img onload="checkRecentPost(event, '{{ .Lastmod.YearDay }}')" class="w-5 h-5 inline hidden"
                    src="{{ .Site.BaseURL }}icon/new.png" alt="new" />
                {{ .Title }}
            </h1>
        </a>
    </div>
</div>