<div class="w-full flex">
  <img class="w-16 h-16 mr-5" src="{{ .Site.BaseURL }}image/{{ .Section }}.png" alt="{{ .Section }}" />
  <div class="w-full">
    <a href="{{ .RelPermalink }}" class="block">
      <h2 class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden">
        <img onload="checkRecentPost(event, '{{ .Lastmod.YearDay }}')" class="w-5 h-5 inline hidden"
          src="{{ .Site.BaseURL }}image/new.png" alt="new" />
        {{ .Title }}
      </h2>
    </a>
    <div class="post-meta">{{ .Date.Format "2006-01-02" }}</div>
  </div>
</div>