{{ define "main" }}

<script type="text/javascript" src="{{ .Site.BaseURL }}script/main.js"></script>

<div class="w-full flex px-3 md:p-12 h-screen flex-col md:flex-row">
	<section class="mb-8 w-full md:w-5/12">
		{{ .Render "header" }}

		<h1 class="text-center text-4xl font-bold my-8">
			{{ .Site.Title }}
		</h1>
		<img src="{{ .Site.BaseURL }}asset\profile.jpg" alt="profile" class="rounded-3xl w-64 h-64 mx-auto my-8" />

		<div class="flex flex-col items-center gap-4">
			{{ if not .Site.IsServer}}
			<a href="https://hits.seeyoufarm.com">
				<img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fbong-u.github.io%2Ftil%2F&count_bg=%23B8BB76&title_bg=%23000000&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"
					class="h-6" />
			</a>
			{{ end }}
			<a href="https://github.com/bong-u" rel="nofollow">
				<img src="https://img.shields.io/badge/Github-0d1117?style=flat-square&logo=github&logoColor=white"
					alt="github" class="h-6" />
			</a>
			<a href="https://www.linkedin.com/in/bong-u-son-133658269/" rel="nofollow">
				<img src="https://img.shields.io/badge/Linkedin-0a66c2?style=flat-square&logo=linkedin&logoColor=white"
					alt="github" class="h-6" />
			</a>
			<a href="mailto:bongudev@gmail.com" rel="nofollow">
				<img src="https://img.shields.io/badge/Gmail-d14836?style=flat-square&logo=gmail&logoColor=white"
					alt="github" class="h-6" />
			</a>
		</div>

	</section>

	<main class="flex flex-col w-full md:w-7/12 gap-5">

		<form onchange="switchSection()" class="flex justify-center">
			<input id="switch-page" type="radio" name="switch" checked>
			<label for="switch-page" class="switch-button rounded-l-lg">
				게시물
			</label>
			</input>

			<input id="switch-group" type="radio" name="switch">
			<label for="switch-group" class="switch-button rounded-r-lg">
				분류
			</label>
			</input>
		</form>

		<div class="w-full md:overflow-y-scroll custom-scroll">
			<section id="summary-section" class="grid gap-16">
				<!-- 최근에 commit한 20개 페이지 -->
				{{ range first 20 .Site.RegularPages.ByLastmod.Reverse }}
				{{ .Render "summary" }}
				{{ end }}
			</section>
			<section id="group-section" class="hidden">
				{{ .Render "navigator" }}
			</section>
		</div>

	</main>
</div>
{{ end }}