{{ define "main" }}

<script type="text/javascript" src="{{ .Site.BaseURL }}script/main.js"></script>

<div class="flex flex-col gap-16 w-11/12 sm:w-9/12 md:w-10/12">
	<section class="grid md:grid-cols-2 justify-items-center gap-12 w-full">
		<div class="">
			<img src="{{ .Site.BaseURL }}asset\profile.jpg" alt="profile" class="rounded-3xl w-64 h-64 mx-auto my-4" />
			<h1 class="text-center text-4xl font-bold mt-12">
				{{ .Site.Title }}
			</h1>
		</div>

		<nav class="grid w-full justify-items-center grid-cols-2 xl:grid-cols-3 content-evenly">
			{{ .Render "navigator" }}
		</nav>
	</section>


	<main class="flex flex-col">
		<section class="grid gap-16 w-full xl:grid-cols-2">
			<!-- 최근에 commit한 20개 페이지 -->
			{{ range first 20 .Site.RegularPages.ByLastmod.Reverse }}
			{{ .Render "summary" }}
			{{ end }}
		</section>
	</main>
</div>
{{ end }}