{{ define "main" }}

<div class="flex flex-col gap-16 w-11/12 sm:w-9/12 md:w-10/12">
	<section>
		<img src="{{ .Site.BaseURL }}asset\profile.jpg" alt="profile" class="rounded-3xl w-64 h-64 mx-auto my-4" />
		<h1 class="text-center text-4xl font-bold mt-12">
			<a href="{{ .Site.BaseURL }}">Bong-u's TIL</a>
		</h1>
	</section>

	{{ .Render "navigator" }}

	<main class="flex flex-col">
		<section class="grid gap-8 md:grid-cols-2 xl:grid-cols-3">
			<!-- 최근에 commit한 20개 페이지 -->
			{{ range first 20 .Site.RegularPages.ByLastmod.Reverse }}
			{{ .Render "summary" }}
			{{ end }}
		</section>
	</main>
</div>
{{ end }}