@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

@layer base {
  * {
    font-family: "Ubuntu", sans-serif;
  }

  body {
    @apply text-zinc-700 bg-zinc-200 dark:text-gray-300 dark:bg-zinc-800 !important;
  }

  body::-webkit-scrollbar {
    width: 15px;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-zinc-500 rounded-lg;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  tr {
    @apply bg-inherit !important;
  }

  #TableOfContents {
    height: calc(100vh - 150px);
    scrollbar-width: none;
    @apply w-full block pb-8 text-sm overflow-hidden;
  }

  #TableOfContents::-webkit-scrollbar {
    width: 0px;
  }

  #TableOfContents ul {
    @apply ml-0;
  }

  #TableOfContents ul:not(:first-child) {
    @apply pl-4;
  }

  #TableOfContents a.current {
    @apply font-bold;
  }

  #TableOfContents a:hover {
    @apply hover:text-gray-400 dark:hover:text-gray-500;
  }

  #TableOfContents ul > li {
    @apply overflow-ellipsis-bundle my-2;
  }
}

@layer utilities {
  .hover-bold {
    @apply hover:font-bold;
  }

  .overflow-ellipsis-bundle {
    @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
  }
}
