@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

:root {
    --background-color: #1d1e20;
    --text-color: #dadadb;
}

@layer base {
    * {
        font-family: 'hana';
    }

    body {
        @apply text-[var(--text-color)] bg-[var(--background-color)];
    }

    .summary_item {
        @apply bg-[#2e2e33] p-5 rounded-lg;
      }
    #content {
        @apply bg-[var(--background-color)];
    }
}