@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root {
    --background-color: #1d1e20;
    --text-color: #dadadb;
    --summary-color: #2e2e33;
    --toc-hover-color: #9696a5;
    --scroll-color: #52525b;
}

@layer base {
    * {
        font-family: 'Ubuntu', sans-serif;
    }

    body {
        @apply text-[var(--text-color)] bg-[var(--background-color)];
    }
    
    body::-webkit-scrollbar {
        width: 15px;
    }
      
    body::-webkit-scrollbar-track {
        background: var(--background-color);
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: var(--scroll-color);
        border-radius: 14px;
    };

    .overflow-ellipsis-bundle {
        @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
    }
    
    #TableOfContents {
        height : calc(100vh - 150px);
        scrollbar-width: none;
        @apply w-full block pb-8 text-sm overflow-hidden;
    }

    #TableOfContents::-webkit-scrollbar {
        width: 0px;
    }
    
    #TableOfContents ul {
        @apply ml-0;
    }
    
    #TableOfContents ul:not(:first-child) {
        @apply pl-4;
    }
    
    #TableOfContents a.current {
        @apply font-bold;
    }
    #TableOfContents a:hover {
        @apply text-[var(--toc-hover-color)];
    }
    
    #TableOfContents ul > li {
        @apply overflow-ellipsis-bundle my-2;
    }
}