@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root {
    --background-color: #1d1e20;
    --text-color: #dadadb;
    --summary-color: #2e2e33;
}

@layer base {
    * {
        font-family: 'Ubuntu', sans-serif;
    }

    body {
        @apply text-[var(--text-color)] bg-[var(--background-color)];
    }

    .overflow-ellipsis-bundle {
        @apply overflow-ellipsis overflow-hidden whitespace-nowrap;
    }
}