{{$page := .Site.GetPage (.Get 0)}}

{{ $emoji := index (split $page.Parent.Title "|") 0 }}
{{ $section := index (split $page.Parent.Title "|") 1 }}

<a href={{$page.Permalink}} class="no-underline">
    <div class="flex p-3 bg-white dark:bg-[#0d1117] rounded-2xl cursor-pointer">
        <div class="flex items-center">
            <image class="w-32" alt="thumbnail" src="https://emoji.beeimg.com/{{$emoji}}/128/apple" />
        </div>
        <div class="w-full mx-5">
            <div class="flex justify-between items-center">
                <h1>{{ $page.Title }}</h1>
                <div>
                    <span>{{ $page.Date.Format "2006-01-02" }}</span>
                    <p>{{ $section }}</p>
                </div>
            </div>
            <p>{{ slicestr $page.Summary 0 200 }}</p>
        </div>
    </div>
</a>