{{ $page := .Site.GetPage (.Get 0) }}

{{ $emoji := index (split $page.Parent.Title "|") 0 }}
{{ $section := index (split $page.Parent.Title "|") 1 }}

<div class="h-40 flex px-3 box rounded-2xl">
    <a href={{$page.Permalink}} class="preview flex">
        <div class="flex flex-col w-full mx-5 justify-around">
            <div class="flex justify-between">
                <span class="text-2xl">{{ $page.Title }}</span>
                <p>{{ $emoji }} {{ $section }}</p>
            </div>
            <div class="line-clamp-3">
                {{ substr $page.Summary 0 500 }}
            </div>
        </div>
    </a>
</div>