{{ $page := .Site.GetPage (.Get 0) }}

{{ $emoji := index (split $page.Parent.Title "|") 0 }}
{{ $section := index (split $page.Parent.Title "|") 1 }}

<a href={{$page.Permalink}} class="preview">
    <div class="flex p-3 highlight rounded-2xl">
        <div class="flex items-center mx-3 w-32 w-32 text-center">
            <span class="w-full text-7xl">{{ $emoji }}</span>
        </div>
        <div class="w-full mx-5">
            <div class="flex justify-between items-center">
                <h1>{{ $page.Title }}</h1>
                <div>
                    <span>{{ $page.Date.Format "2006-01-02" }}</span>
                    <p>{{ $section }}</p>
                </div>
            </div>
            <p>{{ slicestr $page.Summary 0 400 }}</p>
        </div>
    </div>
</a>